<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
    <style>
      button{
        background-color: green;
      }
      button a{
        color: white;
        text-decoration: none;
      }
      h1{
        text-align: center;
      }
      ol li a{
        text-decoration: none;
        
      }
      ol li a:hover{
        background-color: red;
      }
    </style>
</head>
<body>
    <h1>All products!!!</h1>
    <ol>
        <% for(let product of products){ %>
            <li><a href="products/<%= product._id %> "><%= product.name %></a></li>
            <% } %>  
    </ol>

    <button><a href="/products/new">Create New Product</a></button>
</body>
</html>